html, body {
    color: #262626;
    font: 11pt "PT Sans", sans-serif;
}

@media screen and (min-width: 8.5in){
    .paper {
        background: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px #bbb;
        margin: 25px auto 15px auto;
        max-width: 8.5in;
    }


}.cue {
     /* Golden ratio */
     flex-basis: 37.8%;
     max-width: 37.8%;
 }

h1 {
    font: 200 34pt "Raleway"
}
.blue {
    color: #059;
}

h2 {
    border-bottom: 1px solid #bbb;
    font: 500 15pt "Raleway";
    font-variant: all-small-caps;
    letter-spacing: 0.08em;
    margin-bottom: 6px;
    margin-top: 20px;
    padding-bottom: 4px;
}

h3 {
    font: 600 11pt "Raleway", sans-serif;
    margin: 10px 0 3px 0;
}
h3:first-child {
    margin-top: 0;
}

p {
    margin-bottom: 5px;
}

a {
    color: #0077cc;
}

header .cue {
    padding-bottom: 0;
    text-align: right;
}

.row {
    /* Grid columns fill vertical space in the row */
    align-items: stretch;
}

.cue {
    background: #f4f4f4;
    border-right: 1px solid #d0d8ee;
    color: black;
    text-align: right;

    /* Golden ratio */
    flex-basis: 37.8%;
    max-width: 37.8%;
}

.experience-points {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.experience-points.last {
    border: 0;
    padding-bottom: 0;
}

.fa.fa-circle-o {
    font-size: 0.5em;
    padding: 0 3px;
    vertical-align: 30%;
}

.lhead {
    padding-right: 5px;
}

[hidden] {
    display: none;
}

@media screen {
    body {
        background: #f8f8f8;
    }

    .print {
        display: none;
    }

    /* Page margins */
    .cue { padding-left: 0.8in; }
    .row > :nth-child(2) { padding-right: 0.8in; }
    .top-page { padding-top: 0.75in; }
    .bottom-page { padding-bottom: 0.75in; }
}

@page {
    margin: 0.65in 0.8in;
    size: 8.5in 11in;
}

@media print {
    body {
        font-size: 13pt;
    }

    h1 {
        margin-top: 0;
    }

    a {
        color: black;
        text-decoration: none !important;
    }

    .screen {
        display: none;
    }

    .cue {
        background: 0;
        border: 0;
        flex-basis: 30%;
        max-width: 30%;
    }

    section {
        page-break-inside: avoid;
    }
}