body {
    background-color: #262626;
    font: 15px "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover {
    color: #268bd2;
}

strong {
    font-size: 0.95em;
}

img {
    max-width: 100%;
}

h1 {
    font: 200 60px "Raleway";
}

h2 {
    color: #268bd2;
    font: 300 32px "Raleway";
    margin-top: 10px;
    text-align: center;
}
h2.dark {
    background-color: #073642;
    background: no-repeat center right fixed url("r/bg-dark.jpg");
    background-size: cover;
    color: #b58900;
    padding: 15px 0px;
}

section {
    /*border-bottom: 1px solid #268bd2;*/
    padding: 20px 0px;
}

ul {
    list-style: none;
}

li {
    margin: 7px 0px;
}

p {
    color: #262626;
    font: 15px/22px "Open Sans";
}

hr {
    border: 0;
    height: 1px;
    margin: 7px 0px;
}

.background {
    background: no-repeat center right fixed url("r/bg.jpg");
    background-size: cover;
    height: 100%;
    left: 0px;
    opacity: 0.55;
    position: fixed;
    top: 0px;
    width: 100%;
}

.title {
    color: white;
    left: 5%;
    padding-right: 8%;
    position: fixed;
    text-shadow: 0px 0px 4px black;
    top: 35%;
    width: 100%;
}

.title h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding-bottom: 3px;
}

.subtitle {
    color: white;
    font: 18px "Source Code Pro";
}

.content {
    background-color: #f3f3f3;
    position: absolute;
    padding: 40px 0px;
    top: 100%;
    width: 100%;
}

.arrow {
    background-color: #f3f3f3;
    font: 16px/40px "Open Sans";
    height: 40px;
    left: 5%;
    padding: 0px 20px;
    position: absolute;
    top: -40px;
    z-index: 100;
}

.row {
    padding: 7px;
}

.portrait {
    text-align: center;
}

.about1 {
    text-align: right;
}

@media (max-width:992px) {
    .about1, .about2 {
        text-align: center;
    }
}

.job {
    border-bottom: 1px dashed #bbb;
    margin-top: 0px;
}
.job h3 {
    /*margin-top: 7px;*/
}
.job:last-child {
    border-bottom: 0px;
}

.skill {
    margin-bottom: 7px;
}

.project {
    height: 0;
    margin-bottom: 10px;
    padding-bottom: 64%;
    position: relative;
}
.project img {
    box-shadow: 3px 3px 8px #888;
    position: absolute;
    width: 100%;
}
.projectDesc {
    background-color: rgba(0, 0, 0, 0.86);
    display: none;
    height: 100%;
    left: 0px;
    padding: 30px 10px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.projectDesc h3 {
    color: white;
    margin-top: 0px;
    text-align: center;
}
.projectDesc p {
    color: white;
    font-weight: 300;
}
.projectDesc a {
    color: #66a6e4 !important;
}

@media (max-width:992px) {
    .project {
        height: auto;
        padding-bottom: 0px;
    }

    .project img {
        display: block;
        position: relative;
    }

    .projectDesc {
        background: transparent;
        border-bottom: 1px dashed #bbb;
        display: block;
        padding-bottom: 10px;
        position: relative;
    }

    .projectDesc.last {
        border-bottom: 0px;
    }

    .projectDesc p, .projectDesc h3 {
        color: black;
    }
}

.contact {
    text-align: center;
}

.logos {
    border-top: 1px dashed #bbb;
    margin-top: 20px;
    padding-top: 20px;
}

.logos img {
    margin-bottom: 20px;
    max-width: 200px;
    width: 95%;
}

footer {
    bottom: 10px;
    color: #666;
    font-size: 10px;
    position: fixed;
    right: 10px;
    text-align: center;
}
