div.container
    .row.portrait
        .col
            img(src="r/portrait.png", alt="Portrait of Martin Hanzel", width="150px")
            h2 Martin Hanzel
            span Web Developer and Computational Biologist
    .row
        .col-md-5.offset-md-1.text-center.text-md-right
            p I'm a programmer, a life scientist, a mentor, and a well-rounded geek. I studied and lived at the University of Ottawa, where a horde of first-year students used to come to me for math help. I've been coding since I was a kid, when I completed some curly braces on my father's unattended computer.
        .col-md-5.text-center.text-md-left
            p In my adventures, I combined biology and programming because I was fascinated by how living things resemble computers. Programming life is a difficult, but satisfying problem to work on. I'm now looking for other difficult and satisfying problems. Perhaps your company has some. I can help solve them.

