h2.dark Awards and Certifications
div.container
    .row
        .col-md-10.offset-md-1.text-center
            p
                strong 2019:&nbsp;
                | Cognos Prize for outstanding research project,&nbsp;
            p 
                strong 2013-2019:&nbsp;
                | 12-time Dean's Honour List (out of 12),&nbsp;
                a(href="https://www.uottawa.ca/administration-and-governance/134-deans-honour-list", target="_blank")
                    | University of Ottawa

            p
                strong 2013:&nbsp;
                | Undergraduate Research Scholarship (of 16 awarded)&nbsp;
                a(href="https://science.uottawa.ca/en/why-uottawa-science/scholarships-and-financial-aid/undergraduate-research-scholarship", target="_blank")
                    | Faculty of Science, University of Ottawa
            p
                strong 2011:&nbsp;
                | Grand Prize, Ottawa-Carleton Science and Engineering Olympics
            p First Aid + CPR C + AED,&nbsp;
                a(href="https://www.sja.ca/English/Courses-and-Training/Pages/Course%20Descriptions/Workplace-Courses.aspx", target="_blank")
                    | Saint John's Ambulance
            p Non-Violent Crisis Intervention,&nbsp;
                a(href="https://www.crisisprevention.com/What-We-Do/Nonviolent-Crisis-Intervention", target="blank")
                    | CPI
            p Applied Suicide Intervention Skills Training (ASIST),&nbsp;
                a(href="https://www.livingworks.net/programs/asist/", target="_blank")
                    | LivingWorks

