h2.dark Contact Me
.container.text-center
    .row.logos
        .col-md-4
            h3(style="margin-top: 0;") Shoot me a mail
            p arthanzel at gmail dot com
        .col-md-4
            a(href="https://github.com/arthanzel", target="_blank")
                img(src="r/github.png", alt="GitHub link")
        .col-md-4
            a(href="https://linkedin.com/in/martin-hanzel-99032ab8", target="_blank")
                img(src="r/linkedin.png", alt="LinkedIn link")