h2.dark Education
div.container
    .row
        .col-md-5.offset-md-1.text-center
            h3 B.Sc. Biomedical Science
            p
                | Minor in Computer Science<br>
                | University of Ottawa<br>
                | <em>Magna cum laude</em><br>
                | 2013-2017
        .col-md-5.text-center
            h3 B.Sc. Computer Science
            p
                | University of Ottawa<br>
                | 2017-2019<br>
                | (Expected graduation April 2019)

