head
    title Martin Hanzel

    meta(charset="UTF=8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="icon", href="r/favicon-96x96.png", sizes="96x96")
    link(rel="icon", href="r/favicon-32x32.png", sizes="32x32")
    link(rel="icon", href="r/favicon-16x16.png", sizes="16x16")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Source+Code+Pro:300|Raleway:200,300")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    link(rel="stylesheet", href="style.css")