h2.dark Leadership and Management Experience
div.container
    .row.job
        .col-md-4
            h3 University of Ottawa
            p
                i.fa.fa-angle-double-right
                | &nbsp;Residence Mentor
            p 2014&ndash;2017
        .col-md-8
            ul
                li Designed and piloted a mentors-in-residence program to provide full-time academic support to first-year students.
                li Increased funding for the Mentoring Centre by 300% within a year.
                li Increased resident conversion rate by a factor of 10 within a year.
                li Developed software to automate data entry and reduced buereaucratic workload from hours to a few minutes.
                li Organized weekly study groups and coordinated monthly community-building events for residents.
    .row.job
        .col-md-4
            h3 iGEMuOttawa
            p
                i.fa.fa-angle-double-right
                | &nbsp;President
            p 2014&ndash;2016
            p
                i.fa.fa-angle-double-right
                | &nbsp;Research Associate
            p 2013&ndash;2014
        .col-md-8
            ul
                li Led <strong>iGEMuOttawa</strong>, a genetic engineering/synthetic biology research group made up of undergraduate student researchers.
                li Built <em>in vivo</em> genetic networks using computing and electronic engineering metaphors.
                li Oversaw the group's finances, fundraising, and hiring.
                li Wrote bioinformatics software for data anylsis and genetic tooling.
                li Presented own research three times at a world-wide conference in Boston, U.S.A.
                li Consulted for a biotechnology startup in Ottawa.
                li Secured sponsorship from universities and biotech companies.
    .row.job
        .col-md-4
            h3 uEducate
            p
                i.fa.fa-angle-double-right
                | &nbsp;Founder
            p 2013
        .col-md-8
            ul
                li Founded <em>uEducate</em>, an organization dedicated to promoting higher education to the public.
                li Established an annual science competition to Ontario high school students.
                li Created financial scholarships for aspiring science students in the amount of $4000/year in the first year.
