h2.dark Independent Projects
.container
    .row
        .col-md-4
            .project
                div
                    img(src="r/qoc.jpg", alt="Quantum of Cells")
                .contents
                    h3 Quantum of Cells
                    p Online differential equation solver. Originally written to prototype genetic circuits, it can nonetheless solve most initial-value, non-stiff dynamical systems.
                    p
                        a(href="http://arthanzel.github.io/quantumofcells", target="_blank") Demo
                        | &nbsp;&nbsp;
                        a(href="http://github.com/arthanzel/quantumofcells", target="_blank") GitHub
            .project
                div
                    img(src="r/discover.jpg", alt="Discover")
                .contents
                    h3 Discover
                    p Experiments in WebGL. Winner of the 2011 Ottawa Science and Engineering Olympics as a high school project. An interactive exploration of our civilization and the energy that keeps it going. Features original music!
                    p
                        a(href="http://arthanzel.github.io/discover", target="_blank") Demo
                        | &nbsp;&nbsp;
                        a(href="http://github.com/arthanzel/discover", target="_blank") GitHub
        .col-md-4
            .project
                div
                    img(src="r/evaluatex.jpg", alt="Evaluatex")
                .contents
                    h3 Evaluatex
                    p Latex and ASCIIMath evaluator for Javascript. Formerly written as a math parser for Quantum of Cells, but usable as a standalone library. Written over the course of a weekend as an experiment in compilers and interpreters.
                    p
                        a(href="http://arthanzel.github.io/evaluatex", target="_blank") Demo
                        | &nbsp;&nbsp;
                        a(href="http://github.com/arthanzel/evaluatex", target="_blank") GitHub
            .project
                div
                    img(src="r/tre.png", alt="The River Engine")
                .contents
                    h3 The River Engine
                    p Research project in creating an agent-based model for simulating the lives of fish in a river ecosystem using Java and JavaFX. Thesis included.
                    p
                        a(href="https://github.com/arthanzel/theriverengine/blob/master/Thesis.pdf", target="_blank") Thesis
                        | &nbsp;&nbsp;
                        a(href="http://github.com/arthanzel/theriverengine", target="_blank") GitHub
        .col-md-4
            .project
                div
                    img(src="r/ly.jpg", alt="Ly")
                .contents
                    h3 Ly
                    p Command-runner and monitor written in Go. Useful when doing development with lots of servers, compilers, preprocessors, and build tools running at once.
                    p
                        a(href="https://arthanzel.github.io/ly", target="_blank") Website
                        | &nbsp;&nbsp;
                        a(href="http://github.com/arthanzel/ly", target="_blank") GitHub