h2.dark Skills
.container
    .row
        .col-md-5.offset-md-1
            .skill HTML
                include star-5.pug
            .skill CSS
                include star-5.pug
            .skill Javascript + Node.js
                include star-5.pug
            .skill React
                include star-5.pug
            .skill Java
                include star-5.pug
            .skill Linux
                include star-5.pug
            .skill Go
                include star-4.pug
            .skill Ruby
                include star-4.pug
            .skill C#
                include star-4.pug
            .skill Python
                include star-4.pug
        .col-md-5
            .skill Git
                include star-4.pug
            .skill Mathematica
                include star-4.pug
            .skill Matlab
                include star-4.pug
            .skill SQL
                include star-4.pug
            .skill MongoDB
                include star-4.pug  
            .skill Typescript
                include star-3.pug
            .skill Scala
                include star-3.pug
            .skill OCaml
                include star-3.pug
            .skill C
                include star-3.pug
    hr
    .row
        .col-md-5.offset-md-1
            .skill English
                include star-5.pug
            .skill Slovak
                include star-5.pug
            .skill Czech
                include star-5.pug
        .col-md-5
            .skill French
                include star-4.pug
            .skill Spanish
                include star-2.pug
    hr
    .row.text-center
        .col
            p Able to live and work in Canada and anywhere in the European Union.
