.title
    .background
    .title
        h1 Martin Hanzel
        p.subtitle
            span.highlight
                i.fa.fa-angle-double-right
                | &nbsp;Computerphile since before I could read
    footer Background image from Star Citizen
