h2.dark Technical Experience
div.container
    .row.job
        .col-md-4
            h3 ThinkWrap Commerce
            p
                i.fa.fa-angle-double-right
                | &nbsp;Web Developer
            p 2011&ndash;2018
        .col-md-8
            ul
                li Led research and development for a next-generation, backend-agnostic commerce framework built on a custom, isomorphic web platform.
                li Developed full-stack B2B and B2C e-commerce applications for large retailers using the Oracle Commerce framework.
                li Developed software to analyze e-commerce trends and improve the company's ability to market to potential clients.
                li Clients include: Princess Auto, Lorex, Simons, and Videotron.
    .row.job
        .col-md-4
            h3 Freelance Web Developer
            p 2013&ndash;2015
        .col-md-8
            ul
                li Designed custom web applications for student groups at the University of Ottawa.
                li Worked closely with clients to deliver and maintain pixel-perfect solutions.
                li Clients include: University of Ottawa Healthcare Symposium, Actions for Healthcare, iGEMuOttawa.

